*{
/* border: 1px solid red; */
}


body {
text-align: center;
background-color: darkkhaki;
justify-content: center;
align-items: center;
display: flex;
margin: 0px;
}

.container {
max-width: 400px;
padding: 20px;
background-color: #f2f2f2;
border-radius: 5px;
}

.choices button {
padding: 10px 20px;
font-size: 16px;
margin: 10px;
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
}

#result {
font-size: 24px;
font-weight: bold;
margin: 20px 0;
}

#score {
margin-top: 20px;
/* font-size: 18px; */
}